form .buy-step {
  position: relative;
  height: 63px;
  margin-top: 60px;
  margin-left: 41.5px;
  margin-right: 41.5px; }
  form .buy-step .leftLine {
    float: left;
    width: 50%;
    height: 3px;
    font-size: 0;
    margin-top: 14px;
    background-color: #e5e5e5; }
  form .buy-step .rightLine {
    float: left;
    width: 50%;
    height: 3px;
    font-size: 0;
    margin-top: 14px;
    background-color: #e5e5e5; }
  form .buy-step p {
    position: absolute;
    top: 0;
    width: 100px;
    height: 63px; }
    form .buy-step p i {
      display: block;
      width: 25px;
      height: 25px;
      border: 3px solid #fff;
      margin-top: 0;
      background-color: #ccc;
      border-radius: 50%; }
    form .buy-step p span {
      line-height: 32px;
      font-size: 16px;
      color: #666; }
  form .buy-step .left {
    left: 0; }
    form .buy-step .left i {
      background-color: #23a96f; }
    form .buy-step .left span {
      color: #23a96f; }
  form .buy-step .center {
    left: 50%;
    margin-left: -50px;
    text-align: center; }
    form .buy-step .center i {
      margin-left: auto;
      margin-right: auto; }
  form .buy-step .right {
    right: 0;
    text-align: right; }
    form .buy-step .right i {
      float: right; }
    form .buy-step .right span {
      float: right;
      width: 100%; }
form .cartList {
  width: 1180px;
  margin: 0 41.5px; }
  form .cartList .continue {
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #333; }
    form .cartList .continue i {
      margin-right: 12px;
      font-style: normal; }
    form .cartList .continue span {
      font-size: 14px;
      text-decoration: underline; }
  form .cartList .cartTitle {
    list-style: none;
    height: 53px;
    line-height: 54px;
    border-bottom: 1px solid #e5e5e5;
    color: #999;
    background-color: #f7f7f7; }
    form .cartList .cartTitle li {
      float: left; }
    form .cartList .cartTitle .name {
      width: 500px;
      text-indent: 50px; }
    form .cartList .cartTitle .price {
      width: 180px;
      text-align: center; }
    form .cartList .cartTitle .num {
      width: 180px;
      text-align: center; }
    form .cartList .cartTitle .count {
      width: 180px;
      text-align: center; }
    form .cartList .cartTitle .action {
      width: 140px;
      text-align: center; }
  form .cartList .cartInfo {
    overflow: hidden;
    list-style: none; }
    form .cartList .cartInfo li {
      float: left;
      width: 100%;
      padding: 30px 0;
      border-bottom: 1px solid #e5e5e5; }
      form .cartList .cartInfo li .cell {
        float: left; }
      form .cartList .cartInfo li .name {
        width: 500px; }
        form .cartList .cartInfo li .name .check {
          width: 70px;
          float: left;
          height: 100px;
          text-align: center; }
        form .cartList .cartInfo li .name .info {
          width: 430px;
          float: left;
          text-decoration: none;
          color: #333; }
          form .cartList .cartInfo li .name .info img {
            display: block;
            float: left;
            width: 100px;
            height: 100px;
            border: 0; }
          form .cartList .cartInfo li .name .info .details {
            float: left;
            margin-left: 20px;
            width: 310px; }
            form .cartList .cartInfo li .name .info .details strong {
              display: block;
              margin-bottom: 20px;
              font-size: 16px;
              color: #666;
              font-style: normal;
              font-weight: normal; }
            form .cartList .cartInfo li .name .info .details p {
              float: left;
              padding: 4px 0;
              line-height: 20px;
              color: #999;
              font-size: 14px; }
            form .cartList .cartInfo li .name .info .details span:first-child {
              float: left;
              width: 80px; }
      form .cartList .cartInfo li .price {
        width: 180px;
        text-align: center; }
        form .cartList .cartInfo li .price span {
          display: block;
          height: 40px;
          line-height: 40px;
          margin: 30px auto 0 auto;
          font-size: 14px; }
      form .cartList .cartInfo li .num {
        width: 180px; }
        form .cartList .cartInfo li .num .cartcount {
          display: block;
          height: 40px;
          line-height: 40px;
          margin: 30px auto 0 auto;
          position: relative;
          width: 100px; }
          form .cartList .cartInfo li .num .cartcount input {
            width: 40px;
            height: 20px;
            line-height: 18px;
            margin: 10px 29px;
            border: 1px solid #e5e5e5;
            outline: none;
            font-size: 15px;
            text-align: center; }
          form .cartList .cartInfo li .num .cartcount a {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: #e5e5e5;
            vertical-align: middle;
            cursor: pointer;
            font-size: 20px;
            text-align: center;
            line-height: 18px;
            position: absolute;
            top: 0;
            margin-top: 10px; }
          form .cartList .cartInfo li .num .cartcount .jian {
            left: 0; }
          form .cartList .cartInfo li .num .cartcount .jia {
            right: 0; }
      form .cartList .cartInfo li .count {
        width: 180px;
        text-align: center; }
        form .cartList .cartInfo li .count span {
          display: block;
          height: 40px;
          line-height: 40px;
          margin: 30px auto 0 auto;
          font-size: 14px; }
      form .cartList .cartInfo li .action {
        width: 140px;
        text-align: center; }
        form .cartList .cartInfo li .action a {
          text-decoration: none;
          display: block;
          height: 40px;
          line-height: 40px;
          margin: 30px auto 0 auto;
          color: #999; }
        form .cartList .cartInfo li .action i {
          font-size: 20px; }

/*# sourceMappingURL=cart.css.map */
