 $width:1263px;
 $height:80px;
 *{margin: 0;padding: 0;}
 a{
    text-decoration: none;
}
 .header{
     width: $width;
     height: $height;
     border-bottom: 1px solid #e5e5e5;
 }
 .logo{
     display: block;
     margin: 0 auto;
     line-height: 80px;
     margin-left: 40px;
     width: 141px;
     height: 46px;
     padding: 17px 0;
     float: left;
     
 }

.title{
    list-style: none;
    float: left;
    margin-left: 40px;
    height: 80px;
    line-height: 80px;
}
.title li{
    float: left;
    padding: 0 20px;
    
}
.title li a{
    color: #333;
}
.title li:hover a{
    color: #23A96F;
}

.cart{
    float: right;
    height: 80px;
    display: inline-block;
    line-height: 80px;
    padding: 0 20px;
    a{
        color: #333;
        padding-left: 20px;
    }
    .iconfont{
        display: inline-block;
        font-size: 18px;
    }
}
.cart:hover a{
    color: #23A96F;
}
.user{
    float: right;
    div{
        height: 80px;
        display: inline-block;
        line-height: 80px;
        padding: 0 20px;
    }
    div a{
        color: #333;
    }
    .login{
        position: relative;
        .menu{
            
            display: none;
            position: absolute;
            z-index: 50;
            left: 50%;
            margin-top: -1px;
            margin-left: -75px;
            width: 150px;
            height: 186px;
            line-height: 40px;
            border: 1px solid #e5e5e5;
            padding: 12px 0;
            background-color: #fff;
            box-shadow: 0px 5px 10px 0 #ccc;
            ul{
                list-style: none;
                font-size: 14px;
                .listItem{
                    a{
                        padding:0;
                        display: block;
                        text-align: center;
                        line-height: 40px; 
                        font-size: 14px;
                    } 
                    a:hover{
                        background-color: #23A86F;
                        color:#fff;
                        }     
                }
                .boderBottom{
                    width: 108px;
                    height: 2px;
                    background-color: #e5e5e5;
                    margin: 12px auto;
                    }
            }
        }
    }
    .success:hover .menu{
        display: block;
    }
}

.user div:hover a{
    color: #23A96F;
}


.headerW{
    width: $width;
    height: 62px;
    overflow: hidden;
    ul{
        list-style: none;
        width: 416px;
        height: 60px;
        margin: 0 auto;
        
        li{
            float: left;
            display: inline-block;
            height: 60px;
            line-height: 60px;
            a{
                height: 60px;
                line-height: 60px;
                display: inline-block;
                padding: 0 30px;
                color: #333;
            }
        }
        li:hover a{
            color: #23A96F;
            border-bottom: 2px solid #23A96F;
        }
    }
    
}


.login-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0,0,0,.5);
    .wrap{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 430px;
        margin: -240px 0 0 -215px;
        background-color: #fff;
        .wrap-title{
            height: 55px;
            line-height: 54px;
            text-align: center;
            border-bottom: 1px solid #e5e5e5;
            font-size: 16px;
            color: #666;
        }
    }
    .m-form{
        padding: 54px;
        .formitm{
            float: left;
            width: 100%;
            margin-top: 20px;
            
        }
        .formitm:first-child{
            margin-top: 0;
            .ipt{
                #phone{
                    display: inline-block;
                    width: 286px;
                    height: 30px;
                    padding: 4px 17px;
                    line-height: 30px;
                    border: 1px solid #e5e5e5;
                    font-size: 16px;
                    outline: none;
                }
            }
        }
        .verification{
            position: relative;
            height: 40px;
            vertical-align: bottom;
            .ipt{
                #htcode{
                    width: 156px;
                    font-size: 16px;
                    vertical-align: middle;
                    display: inline-block;
                    height: 30px;
                    padding: 4px 17px;
                    line-height: 30px;
                    border: 1px solid #e5e5e5;
                    outline: none;
                }
                img{
                    display: inline-block;
                    vertical-align: middle;
                    cursor: pointer;
                    border: 0;
                    width: 120px;
                    height: 38px;           
                }
            }
        }
        .phonecode{
            position: relative;
            .ipt{
                #phonecode{
                    width: 156px;
                    font-size: 16px;
                    vertical-align: middle;
                    display: inline-block;
                    height: 30px;
                    padding: 4px 17px;
                    line-height: 30px;
                    border: 1px solid #e5e5e5;
                    outline: none;
                } 
                #getphonecode{
                    display: inline-block;
                    width: 125px;
                    vertical-align: middle;
                    height: 40px;
                    line-height: 40px;
                    padding: 0 20px;
                    border: none;
                    border-radius: 2px;
                    text-align: center;
                    color: #fff;
                    background-color: #23a96f;
                    outline: none;
                    cursor: pointer;
                }
                #getphonecode:hover{
                    background-color: #37eb9d;
                }
                .tip{
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: rgba(0,0,0,.8);
                    font-size: 14px;
                    cursor: wait;
                    width: 85px;
                    height: 40px;
                    line-height: 40px;
                    vertical-align: middle;
                    padding: 0 20px;
                    border: none;
                    border-radius: 2px;
                    text-align: center;
                    color: #fff;
                    outline: none;
                }
                
            }
        }
        .button{
            margin: 40px auto 30px auto;
            .ipt{
                .u-btn{
                    display: inline-block;
                    width: 100%;
                    font-size: 16px;
                    height: 40px;
                    line-height: 40px;
                    padding: 0 20px;
                    border: none;
                    border-radius: 2px;
                    text-align: center;
                    color: #fff;
                    background-color: #23a96f;
                    outline: none;
                    cursor: pointer;
                }
                .u-btn:hover{
                    background-color: #37eb9d;
                }
            }
        }
    }
    .icon-close{
        font-size: 20px;
        position: absolute;
        top: 17px;
        right: 17px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        background-position: -594px -294px;
    }
}
